<ion-view style="" title="Cloud Tab Default Page">
    <ion-content class="has-header" padding="true">
        <form style="" class="list">
            <label style="" class="item item-input">
                <span class="input-label">Kesan</span>
                <input placeholder="" type="text">
            </label>
            <label style="" class="item item-input">
                <span class="input-label">Input</span>
                <input placeholder="" type="number">
            </label>
        </form>
        <button style="" class="button button-stable button-block ">Tap me!</button>
    </ion-content>
</ion-view>