<ion-view style="" title="Kejadian Lama">
    <ion-content class="has-header" padding="true">
        <h1 style="">{{pertanyaan}}</h1>
        <div style="line-height: 250px; background-color: rgb(255, 255, 255); border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center; width: 100%; height: auto;">
            <i style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;" class="icon ion-image"></i>
        </div>
        <div style="" class="button-bar">
            <button style="" class="button button-stable button-block ">{{opsi_1}}</button>
            <button style="" class="button button-stable button-block ">{{opsi_2}}</button>
        </div>
        <div style="" class="button-bar">
            <button style="" class="button button-stable button-block ">{{opsi_3}}</button>
            <button style="" class="button button-stable button-block ">{{opsi_4}}</button>
        </div>
        <button style="" class="button button-stable button-block ">Nyerah / Ga tahu</button>
    </ion-content>
</ion-view>